[submodule "MVI-Template-App"]
	path = MVI-Template-App
	url = https://github.com/Illiouchine/MVI-Template-App.git
[submodule "mvi-library"]
	path = mvi-library
	url = https://github.com/Illiouchine/mvi-library.git
